.card {
  background: #fff;
  border-radius: 2px;
  height: var(--width);
  margin: 1rem;
  position: relative;
  --width: 170px;
  width: var(--width);
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  max-width: 20%;
  cursor: pointer;
}

.card > .container {
  max-height: 100%;
  background:#6CADDC;
}

.card > .container > img {
  width: 100%
}